<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="localdb" connectionString="Data Source=CODY_DEVSTUDIO\CODYBEESERVA;Initial Catalog=DESTECH;Persist Security Info=True;User ID=sa;Password=W0rldpeace_1." providerName="System.Data.SqlClient" />
    <add name="localdbo" connectionString="Data Source=mssql.desworldconcept.com,1500;Initial Catalog=DESTECH;Persist Security Info=True;User ID=codybee;Password=Fire_wood1." providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
